@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    /*typography*/
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* size */
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
input:active, input:focus, select:active, select:focus{
    outline: none;
}
.full-width{
    width: 100%;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-around{
    justify-content: space-around;
}