*,*::before,*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
main, footer{
  padding: 20px 8vw;
}
.profile img{
  border-radius: 10000px;
  width: 100%;
  max-width: 80px;
}
.profile #twitter{
  font-weight: 700;
  margin-top: 15px;
}
.profile #slack{
  display: none;
}
.profile, .links, .socials{
  padding-block: 10px;
}
.links{
  gap: 20px;
}
.link{
  /* margin-block: 10px; */
  background-color: #EAECF0;
  text-align: center;
  cursor: pointer;
}
.link a{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  width: inherit;
  font-size: 18px;
}
.socials{
  gap: 10px;
}
.socials svg{
  width: 25px;
  height: 25px
}
footer p{
  font-size: 16px;
}
footer *{
  width: 100%;
  text-align: center;
}
footer img{
  max-width: 150px;
}
@media screen and (max-width: 550px){
  footer, .socials{
    display: none !important;
  }
  .profile #twitter{
    font-size: 18px;
  }
  .link a{
    font-size: 14px;
  }
}