@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.full-width{
    width: 100%;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-around{
    justify-content: space-around;
}